!meson*.build
**/debian/*.EX
**/debian/*.after
**/debian/*.before
**/debian/*.ex
**/debian/*/
**/m4/libtool.m4
**/m4/lt*.m4
**/po/*.gmo
**/po/*.header
**/po/*.sed
**/po/*.sin
**/po/*.template
*-docs.docs
*.Po
*.a
*.aux
*.bak
*.bbl
*.blg
*.buildinfo
*.bz2
*.cb
*.changes
*.deb
*.debhelper
*.dsc
*.dvi
*.egg-info/
*.ff
*.gch
*.glo
*.gz
*.idx
*.ilg
*.iml
*.ind
*.ipr
*.iws
*.la
*.le
*.lo
*.lock
*.lof
*.log
*.log.[0-9]*
*.lot
*.o
*.orig
*.out
*.releaseBackup
*.so
*.so.*
*.spec
*.substvars
*.swo
*.swp
*.tar.gz
*.tar.xz
*.tmp
*.toc
*.upload
*.versionsBackup
*.xdv
*.xz
*.zip
*~
.*.bin
.DS_Store
.cache/
.classpath
.classpath.*
.cursor/
.deps
.dirstamp
.idea
.idea/
.libs/
.m2*
.parcel-cache/
.project
.settings
.vscode/
/.pomdirs
ChangeLog
CLAUDE.md
Makefile.in
Rules-quot
Thumbs.db
__pycache__/
aclocal.m4
autom4te.cache/
build/
builddir/
classpath.*
compile
config.guess
config.log
config.rpath
config.status
config.sub
configure
debhelper-build-stamp
debian/*-stamp
debian/*.debhelper.log
debian/*.substvars
debian/.debhelper
debian/zephyr/
debian/files
depcomp
dist/
install-sh
itree.tex
libauto
libtool
ltmain.sh
meson-info/
meson-logs/
meson-private/
missing
node_modules/
nohup.out
pnpm-lock.yaml
rpmbuild/
srcsheet.txt
stamp-h1
stamp-po
stats/
target/
v-store
