# SPDX-License-Identifier: AGPL-3.0-or-later
# Translate docs/zfr.adoc. Developers: po4a --no-translations
# (refresh POT/PO) or meson compile (build localized man pages).
[po4a_langs] ar bn de es fr hi id it ja ko pt ru sv ta te th tr ur vi zh_CN zh_TW
[po4a_paths] po/man/zfr-man.pot $lang:po/man/$lang.po
[options] opt:"--master-charset UTF-8" opt:"--localized-charset UTF-8"
[type: asciidoc] docs/zfr.adoc $lang:docs/po/$lang/zfr.adoc
